<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/game.css">
    <title>Color Game</title>
</head>
<body>
    <div class="mystyle">
        <h1>Color Game Project</h1>
        <h2>============================================</h2>
        <h3>==>  Some Random Color Will Appear Here  <==</h3>
        <h2>============================================</h2>
        <h1>Welcome to color game, where you have to pick the correct color as shown in the boxes according to the RGB
            notation sjown above.
            <h3>Steps:<ul>
                    <p>* First choose difficulty</p>
                    <p>* Then click Try It!!!</p>
                </ul>
            </h3>
        </h1>
    </div>
    <div class="mynav">
        <ul>
            <li>
                <a type="button" href="#">TRY IT</a>
            </li>
            <li>
                <a type="button" href="#">EASY</a>
            </li>
            <li>
                <a type="button" href="#">HARD</a>
            </li>
            <li>
                <a type="button" href="#">RESET</a>
            </li>
        </ul>
    </div>
    <table align="center" class="table">
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="toggle">
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <script src="/game.js"></script>
</body>
</html>