h1{
    text-align: center;
    color:whitesmoke;
}
h3{
    text-align: center;
    color:whitesmoke;
}
h2{
    text-align: center;
    color:whitesmoke;
}
body{
    background: repeating-linear-gradient(
    45deg,
  #2d132c,
  #2d132c 30px,
  #801336 30px,
  #801336 60px
  )
}
.table{
    width: 50%;
    height: 500px;
}
td{
    border-radius: 5%;
    margin: 20px;
    transition: background 1.0s;
    padding-bottom: 30%;
}
body{
    background-color: whitesmoke;
}
.mystyle{
    padding: 10px;
    border-radius: 20px
}
.test{
    background-color: whitesmoke;
}
li{
    display: inline
}
.mynav{
    text-align: center
}
body{
    font-family: sans-serif
}
mydiv{
    margin: auto;
    background-color: #4ecca3
}
a{
    border-radius: 5px;
    background-color: black;
    font-size: 20px;
    color: white;
    margin: 10px;
    padding: 10px
}